$candidateRestriction: #ffef99;
$immediatelyChosenCandidates: #73be73;
$chosenCandidates: mix(white, $immediatelyChosenCandidates, 45%);
$immediatelyDiscardedCandidates: lightcoral;
$discardedCandidates: mix(white, $immediatelyDiscardedCandidates, 55%);
$invalidGroups: #d8b2d8;
$latestFilledBox: #ffc04c;
$selectionColor: #2e84d5;
$affectedCandidate: mix(white, $selectionColor, 70%);

body {
    margin: 0;
}

.max-square {
    width: 100vw;
    height: 100vw;
    padding: 8px;
    box-sizing: border-box;
    display: inline-block;
}

@media (orientation: landscape) {
    .max-square {
        width: 100vh;
        height: 100vh;
    }
}

.sudoku-grid {
    display: grid;
    height: 100%;

    .sudoku-box {
        border-left: 1px solid black;
        border-top: 1px solid black;
        display: grid;

        .sudoku-candidate {
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            &.chosen-candidate {
                font-style: italic;
                background-color: $chosenCandidates;

                &.chosen-immediately-next {
                    background-color: $immediatelyChosenCandidates;
                }
            }

            &.discarded-candidate {
                font-style: italic;
                background-color: $discardedCandidates;

                &.discarded-immediately-next {
                    background-color: $immediatelyDiscardedCandidates;
                }
            }

            // &.maximum-impact-candidate {
            //     background-color: gold;
            // }

            &.selected-candidate {
                background-color: $selectionColor;
            }

            &.affected-candidate {
                background-color: $affectedCandidate;
            }

            &.hidden-candidate {
                background-color: unset !important;
            }
        }

        &.locked-box {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 25px;

            &.latest-filled-box {
                background-color: $latestFilledBox;
            }
        }

        &.selected-box {
            background-color: $selectionColor;
        }

        &.discard-cause,
        &.choice-cause {
            background-color: $candidateRestriction;
            outline: 4px solid $candidateRestriction;
        }

        &.inside-invalid-column,
        &.inside-invalid-region,
        &.inside-invalid-row {
            background-color: $invalidGroups;

            .sudoku-candidate
                :not(.discarded-because-of-lock)
                :not(.discarded-because-is-only-candidate-left-for-a-peer-box)
                :not(.discarded-because-peer-box-must-hold-this-number-for-some-group)
                :not(.discarded-because-this-box-must-hold-another-number-for-some-group)
                :not(.discarded-because-of-owned-candidate-in-same-group)
                :not(.discarded-because-of-region-subset) {
                background-color: $invalidGroups;
            }
        }
    }

    &.size-4 {
        grid-template-columns: repeat(4, 25%);
        grid-template-rows: repeat(4, 25%);

        .sudoku-box {
            grid-template-columns: repeat(2, 50%);
            grid-template-rows: repeat(2, 50%);

            &:nth-last-child(-n + 4) {
                border-bottom: 1px solid black;
            }

            &:nth-child(2n) {
                border-right: 1.5px solid black;
            }
            &:nth-child(4n) {
                border-right: 1px solid black;
            }

            &:nth-child(2n + 1) {
                border-left: 1.5px solid black;
            }
            &:nth-child(4n + 1) {
                border-left: 1px solid black;
            }

            &:nth-child(n + 5):not(:nth-child(n + 9)) {
                border-bottom: 1.5px solid black;
            }

            &:nth-child(n + 9):not(:nth-child(n + 13)) {
                border-top: 1.5px solid black;
            }
        }
    }

    &.size-9 {
        grid-template-columns: repeat(9, 11.11%);
        grid-template-rows: repeat(9, 11.11%);

        .sudoku-box {
            grid-template-columns: repeat(3, 33%);
            grid-template-rows: repeat(3, 33%);

            &:nth-last-child(-n + 9) {
                border-bottom: 1px solid black;
            }

            &:nth-child(3n) {
                border-right: 1.5px solid black;
            }
            &:nth-child(9n) {
                border-right: 1px solid black;
            }

            &:nth-child(3n + 1) {
                border-left: 1.5px solid black;
            }
            &:nth-child(9n + 1) {
                border-left: 1px solid black;
            }

            // 19 = 9 x 2 + 1
            // 28 = 9 x 3 + 1
            &:nth-child(n + 19):not(:nth-child(n + 28)),
            &:nth-child(n + 46):not(:nth-child(n + 55)) {
                border-bottom: 1.5px solid black;
            }

            &:nth-child(n + 28):not(:nth-child(n + 33)),
            &:nth-child(n + 55):not(:nth-child(n + 64)) {
                border-top: 1.5px solid black;
            }
        }
    }
}

.options {
    padding-left: 8px;
    display: inline-table;

    .color-legend {
        height: 10px;
        width: 10px;
        border: 1px solid black;
        display: inline-block;

        &.affected-candidates {
            background-color: $affectedCandidate;
        }

        &.candidate-restriction {
            background-color: $candidateRestriction;
        }

        &.chosen-candidates {
            background-color: $chosenCandidates;
        }

        &.discarded-candidates {
            background-color: $discardedCandidates;
        }

        &.invalid-groups {
            background-color: $invalidGroups;
        }

        &.latest-filled-box {
            background-color: $latestFilledBox;
        }
    }
}
