.sudoku-grid {
    .sudoku-row {
        display: flex;

        .sudoku-cell {
            border-left: 1px solid black;
            border-top: 1px solid black;
            display: grid;
            padding: 5px;
            grid-column-gap: 3px;
            grid-row-gap: 3px;

            .sudoku-candidate {
                text-align: center;
                width: 20px;
                height: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            &:last-child {
                border-right: 1px solid black;
            }

            &.highlighted-cell {
                background-color: lightblue;
            }
        }

        &:last-child {
            .sudoku-cell {
                border-bottom: 1px solid black;
            }
        }
    }

    &.size-4 {
        .sudoku-row {
            .sudoku-cell {
                grid-template-columns: repeat(2, 1fr);

                &:nth-child(2n + 3) {
                    border-left: 2px solid black;

                    &:last-child {
                        border-left: 1px solid black;
                    }
                }
            }

            &:nth-child(2n + 3) {
                .sudoku-cell {
                    border-top: 2px solid black;

                    &:last-child {
                        border-left: 1px solid black;
                    }
                }
            }
        }
    }

    &.size-9 {
        .sudoku-row {
            .sudoku-cell {
                grid-template-columns: repeat(3, 1fr);

                &:nth-child(3n + 4) {
                    border-left: 2px solid black;

                    &:last-child {
                        border-left: 1px solid black;
                    }
                }
            }

            &:nth-child(3n + 4) {
                .sudoku-cell {
                    border-top: 2px solid black;

                    &:last-child {
                        border-left: 1px solid black;
                    }
                }
            }
        }
    }
}
